* {
    font-family: work sans;
}

/* Banner */
.banner-content {
    color: #FFFFFF;
    text-align: right;
    background: url(/images/banner/banner3.png);
    padding: 216px 250px 230px 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    height: 228px;

}

.banner-subtitle {
    font-weight: 400;
    font-size: 16px;
    height: 78px;
    margin-top: 24px;
    margin-bottom: 32px;

}

.btn-primary {
    color: #005FAC;
    border: 0;
    background-color: #FFFFFF;
    padding: 21px 20px 25px 26px;
    border-radius: 5px;
    margin-top: 40px;
}

/* Failure of Previous Year Section */
.failure-list {
    list-style-type: none;

    font-weight: 400;
    font-size: 25px;


}

.photo-banner-txt {
    text-align: left;
}




.photo-banner {
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 200px 450px;
    justify-content: center;



}

.sec1-title {
    font-weight: 800;
    font-size: 50px;
}

.sec1-subtitl {
    font-weight: 500;
    font-size: 26px;
}

.failure-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
}

/* my Plans */

.plan-list {
    list-style-type: none;
    display: flex;
    gap: 100px;
    text-align: center;
    justify-content: space-between;
    margin: 0px 200px;


}

.my-plan-title {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
}

.plans {}

.plan-list-name {}

.plan-name {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-subtitle {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}


.plan-banner-content {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(/images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3em;
    margin: 230px 230px;
    border-radius: 8px;
    color: #FFFFFF;
}

.plan-banner-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0;
}

.btn-plan-banner {
    color: #005FAC;
    border: 0px;
    background-color: #FFFFFF;
    padding: 20px 20px 25px 26px;
    border-radius: 5px;
    margin-top: 5px;

}

/* Footer */

.footer-contents {
    display: flex;
    justify-content: space-between;
    padding: 230px 230px;
    background: #151414;
    color: #FFFFFF;
}

.footer-content-left {
    gap: 10px;

}

.footer-title {
    font-weight: 800;
    font-size: 60px;
    color: #F8F8F8;
}

.footer-icon {
    display: flex;
    gap: 10px;
    list-style-type: none;
    padding: 0px;
}

.footer-subtitle {
    font-weight: 400;
    font-size: 30px;
}

.mail {
    font-weight: 400;
    font-size: 30px;

}

.phone {
    font-weight: 400;
    font-size: 30px;

}

.subscribe {
    font-weight: 800;
    font-size: 45px;
    color: #F8F8F8;

}

input {
    height: 64px;
    width: 325px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    background: #151414;
    border-radius: 8px;
}

.btn-subscribe {
    height: 64px;
    left: 1046px;
    background: #005FAC;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 36px;
    font-weight: 600;
    font-size: 20px;
}